### Pandas
Data scientists often work with large data sets that we need to inspect and manipulate. [Pandas](https://pandas.pydata.org/) is a popular package for handling datasets in Python, and will be often used in our data science courses. In this notebook we'll introduce the basics of loading and inspecting a data set with Pandas, which is typically imported with the name `pd`:

In [ ]:
import pandas as pd

# File Inspection
Data sets are often saved as comma-separated values (CSV) files. You can inspect these with Excel or a simple text editor. Here we use the `read_csv` function from Pandas to load a dataset on the trees in Delft. This data set is made by the city of Delft and is [publicly available](https://data.overheid.nl/dataset/bomen-in-beheer-door-gemeente-delft).

In [ ]:
trees_df = pd.read_csv('Bomen_in_beheer_door_gemeente_Delft.csv')

The dataset is loaded to the variable `trees_df` which is part of the DataFrame class. The DataFrame is the most used class of the Pandas package. Requesting `trees_df` gives a short overview of the dataset:

In [ ]:
trees_df

This DataFrame has 35384 rows that represent the different objects in the dataset and 28 columns that represent the different properties of each object. The output actually has 29 columns, but the first "column" doesn't have a label. This first column contains the index of each object, which in this case is a number, but can also be a string.  

Note that the DataFrame holds different variable types:
- `float` (X,Y)
- `int` (ID,ELEMENTNUMMER)
- `string` (BEHEERGROEP,BOOMSORTIMENT).

We don't have to inspect the table itself to get its size, the column labels, and the variable types. These are attributes of the DataFrame that can be accessed directly. For instance the size of the table is requested with attribute `shape`:

In [ ]:
trees_df.shape # show the number of rows and columns

The column labels can be found with the attribute `columns`. Show the column labels below.

In [ ]:
%%assignment
# YOUR CODE HERE
trees_df.columns

In [ ]:
%%check
len(result) == 28
'BOOMSORTIMENT','TAKVRIJE_ZONE','GROENGEBIEDCODE' in result

Similarly, show the variable types with the attribute `dtypes`.

In [ ]:
%%assignment
# YOUR CODE HERE
trees_df.dtypes

In [ ]:
%%check
len(result) == 28
result['DIAMETER'].name == 'float64'
result['ID'].name == 'int64'
result['GROENGEBIEDCODE'].name == 'object'

The row labels are requested with the attribute `index`:

In [ ]:
trees_df.index

Currently, `index` returns an iterator that numbers each row. However, we can also specify to use one of the columns as row label. This is done by setting the option `index_col` of `read_csv` to the desired column label. 
In the current file, the column `ID` seems a good candidate as row label. Reload the dataset to the variable `df2` with the values of `ID` as row labels.

In [ ]:
%%assignment
# YOUR CODE HERE
df2 = pd.read_csv('Bomen_in_beheer_door_gemeente_Delft.csv', index_col='ID')
df2 # leave this to show the result

In [ ]:
%%check 
hashresult == 1591492765

A quick overview of all the above information (column names, number of rows, variable types) can be made using the function `info`. It also provides the number of non-empty cells for each column, en the memory size.

In [ ]:
trees_df.info()

The `DIAMETER` column only has 1772 rows with non-null values. The value of the other rows are indicated as `NaN`: Not a Number, which means these cells are empty. Missing values in data sets are common in practice, but we'll see that Pandas is very flexible with this. 

### Which statement(s) are correct?

In [ ]:
%%mmc file_inspection
OBJECTID has missing values
AANLEGJAAR has type int
Er zijn 28 kolommen

In [ ]:
%%check
hashresult == 3818810794

## Creating a new DataFrame
We've already seen that we can create a DataFrame by loading a CSV file with Pandas. But a DataFrame can also be directly constructed from a dictionary of lists:

In [ ]:
example_dict = {'A': [10, 20, 30], 'B': ['aap','paard','dromedaris']}
row_labels = [f'row_{k}' for k in range(3)] 

example_df = pd.DataFrame(example_dict,index=row_labels)
print(example_df)

**exercise** Create the following table as DataFrame:

|       | inwoners | provincie    | 
|-------|----------|--------------|
| Delft | 104468   | Zuid-Holland | 
| Utrecht | 361924 | Utrecht |
| Westerhoven | 2030 | Noord-Brabant|

In [ ]:
%%assignment
# YOUR CODE HERE
row_labels = ['Delft', 'Utrecht', 'Westerhoven']

example_dict = {'inwoners': [104468,361924,2030], 'provincie': ['Zuid-Holland','Utrecht','Noord-Brabant']}
pd.DataFrame(example_dict,index=row_labels)

In [ ]:
%%check
hashresult == 742727652

## Selection
We often want to select specific columns or rows from the DataFrame for processing. The selection can be done based on column or row label, or based on a positional index (number). 

Let's make an example DataFrame to experiment with:

In [ ]:
example_df = pd.DataFrame({"A":[1.1,2.1,3.1],"B":[12,22,32]},
                    index=['obj1','obj2','obj3']) #example DataFrame
print(example_df)

In [ ]:
example_dict={"A":[1.1,2.1,3.1],"B":[12,22,32]}

The columns of `example_df` can be accessed like dictionary fields:

In [ ]:
example_df["A"]

Note that the row labels are maintained when selecting a column, and the output can be considered a one-dimensional DataFrame. (However, the actual Pandas class of the output is a `Series`.) 

You can also select multiple columns at once:

In [ ]:
example_df[["B","A"]]

The rows can be selected by slicing, as we've done with lists:

In [ ]:
print(example_df[0:2]) # selects rows 0 and 1

Note that this selection is based on position and thus the row labels are ignored. 
There is a difference with list-style indexing: using an integer to select a single column is **not** allowed.

In [ ]:
example_df[2] # not allowed, use: example_df[2:3]

Pandas recommends using the `loc` property of the DataFrame for label-based selection, and the `iloc` properties for position-based selection. 
For these properties you can specify both the desired row(s) and desired column(s):

In [ ]:
example_df.loc['obj3']

This does require that the row labels are strings. 

You can also slice with labels. However, note that in contrast to slicing with positions, the final element is included in the result:

In [ ]:
example_df.loc[:'obj2'] # slice until obj2

With `loc` you can also select rows and columns at the same time:

In [ ]:
example_df.loc[:'obj2', 'B'] # slice until obj2, take column B

Property `iloc` works the same as `loc`, except it takes positional integers instead of string labels.

In [ ]:
example_df.iloc[2] # take third row

In [ ]:
example_df.iloc[:2] # take first two rows

In [ ]:
example_df.iloc[:2,1] # take first two rows and second column

You can also select rows and columns by combining selections:

In [ ]:
example_df["A"][1:3] # select column A, rows 2 and 3

In [ ]:
example_df.iloc[0]["B"] # select row 1, column B

In [ ]:
example_df.loc["obj2":].iloc[:,0]# select every row from obj2, and first column

We've now seen many ways of indexing. Let's rehearse:

In [ ]:
print(example_df)

##### Which code **does not** return column B?

In [ ]:
%%mc
example_df["B"]
example_df.iloc[:,1]
example_df.loc["B"]
example_df.loc[:,"B"]

In [ ]:
%%check 
hashresult == 3487754587

##### Which **does not** return the first row?

In [ ]:
%%mc
example_df[0]
example_df[:1]
example_df.iloc[:1]
example_df.loc["obj1"]

In [ ]:
%%check 
hashresult == 783618061

##### Which command(s) return the value `3.1`?

In [ ]:
%%mmc
example_df[2:3]["A"]
example_df["A"][2:3]
example_df.iloc[2,0]
example_df.loc["obj3",'A']

In [ ]:
%%check 
hashresult == 121948600

##### How many cells are returned by `example_df["B"][:2]`?

In [ ]:
%%slider 
1 6

In [ ]:
%%check 
hashresult==3306475475

## Boolean indexing

This final method for indexing that we'll discuss will be especially useful for data processing. 
Boolean indexing selects rows by applying a "mask" to the DataFrame. The mask consists of `True` or `False` values and should match the length of the DataFrame it's applied to. Applying the mask only selects the rows that have a `True` value in the mask. 

This is useful for selecting only the rows that match a certain condition:

In [ ]:
mask = example_df['A'] > 2  # determine with rows have a larger value than 2 in column A
print(mask)

In [ ]:
example_df[mask] # select the rows that have True in the mask

You can of course combine conditions as you learned in the first week with Boolean operators:

In [ ]:
mask = (example_df['A'] > 2) & (example_df['B'] < 30)
print(mask)

In [ ]:
print(example_df[mask])

By using the negate symbol `~`, you can flip `True` and `False` values:

In [ ]:
print(~mask)

In [ ]:
print(example_df[~mask])

Let's rehearse the Boolean indexing again:

#### Which of the below statements selects both the first and the third row?

In [ ]:
%%mc
mask = example_df['A'] >= 3.1
mask = example_df['B'] < 20
mask = (example_df['A'] >= 3.1) & (example_df['B'] < 20)
mask = (example_df['A'] >= 3.1) | (example_df['B'] < 20)

In [ ]:
%%check 
hashresult == 292691022

#### Create a mask that determines the rows where B > 20 and assign it to `mask`. Then use it to select these rows.

In [ ]:
%%assignment
# YOUR CODE HERE
mask = example_df['B'] > 20
example_df[mask]

In [ ]:
%%check
hashresult == 3593389503
mask.dtype == 'bool'
3.1 in example_df[mask].values

### Combining DataFrames 
In the previous section, we looked at how to select parts of a DataFrame. Now we'll look at the opposite: adding columns or rows to the DataFrame. Let's first define to example DataFrames to work with:

In [ ]:
example_df = pd.DataFrame({"A":[1.1,2.1,3.1],"B":[12,22,32]},
                    index=['obj1','obj2','obj3']) #example DataFrame
print(example_df)

example_df2 = pd.DataFrame({"B":[-1.1,-2.1,-3.1],"C":[-12,-22,-32]},
                    index=['obj2','obj3','obj4']) #example DataFrame
print(example_df2)

An extra column can be simply added set by specifying a new column label:

In [ ]:
example_df["C"] =example_df["B"]**2
example_df

And we can remove the column again by selecting only the original columns:

In [ ]:
example_df = example_df[["A","B"]]
example_df

If we want to combine to larger DataFrames, we can use the Pandas function `concat`:

In [ ]:
pd.concat([example_df,example_df2])

The second DataFrame is added as extra rows to the first. Since `example_df` doesn't have a column `C`, the resulting cells are shown as missing values. The same goes for `example_df2` and column `A`. Note that a list of DataFrames is given to `concat`, and this list can have an arbitrary length:

In [ ]:
pd.concat([example_df,example_df2,2*example_df,3*example_df2])

We can also add the DataFrame as extra columns by setting `axis=1`:

In [ ]:
pd.concat([example_df,example_df2],axis=1)

There are again missing values since `example_df` doesn't have an `obj4` row, and `example_df2` doesn't have an `obj1` row. 

Let's rehearse again: 

#### Which of the following statement(s) will give an error?

In [ ]:
%%mmc
example_df["A"] == example_df["B"]
pd.concat(example_df["A"],example_df["B"],axis=0)
pd.concat([example_df["A"],example_df["B"]],axis=1)
example_df[["A","B"]] = example_df[["B","A"]]

In [ ]:
%%check
hashresult == 658645187

#### Add a column `C` to `example_df` that contains the sum of columns `A` and `B`:

In [ ]:
%%assignment
# YOUR CODE HERE
example_df["C"] = example_df["A"]+example_df["B"]

example_df # leave this as final line to show the result

In [ ]:
%%check
hashresult == 847242578

#### Now concatenate `example_df` and `example_df2` in the row direction

In [ ]:
%%assignment
# YOUR CODE HERE
pd.concat([example_df,example_df2])

In [ ]:
%%check
hashresult == 4236979653

## File Inspection 2: statistics
Pandas has functions to statistically describe columns of the DataFrame, such as `mean`, `median`, `max`, and `min`:

In [ ]:
trees_df

In [ ]:
trees_df.AANLEGJAAR.mean()

When calculating the mean, the missing cells with value `NaN` are ignored. 

#### Find out when the oldest tree (that we know of) was planted.

In [ ]:
trees_df.AANLEGJAAR.min()

In [ ]:
%%slider
1000 2000

In [ ]:
%%check
hashresult == 380589968

The function `value_counts` shows the distribution of values in a column. Here is the distribution of tree types in Delft:

In [ ]:
trees_df.BOOMSORTIMENT.value_counts()

#### Which neighborhood of Delft has the most trees?

In [ ]:
%%mc
Bosrand
Bomenwijk
Centrum
Ecodus
De Grote Plas

In [ ]:
%%check 
hashresult == 1351416497

## Data cleaning

In [ ]:
trees_df.dropna()

In [ ]:
trees_df.dropna(subset='AANLEGJAAR')

In [ ]:
trees_df.info()

In [ ]:
trees_df[trees_df.EIGENAAR.isna()]

In [ ]:
trees_df.fillna({'EIGENAAR':"YOUR NAME HERE"})

In [ ]:
trees_df.EIGENAAR.value_counts()

In [ ]:
height_distribution = trees_df.HOOGTE.value_counts()[['<6 m.','6-9 m.','9-12 m.','12-15 m.','15-18 m.','18-24 m.', '> 24 m.']]

In [ ]:
import matplotlib.pyplot as plt

height_distribution.plot(kind='bar')
plt.show()

Assignment

waar staan oudste bomen?
plaatje van de verdeling van boomsoorten (verwijder '' delen)

In [ ]:
trees_df.HOOGTE